.go-menu-entradas-prod-admin {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  /* font-style:inherit; */
  font-size: 200%;
  border-style:solid;
  border-radius: 3%;
  padding: 2% 0% 2% 0%;
  border-color:gray;
  margin: 10% 40% 0% 40%;
  color: black;
}

.go-menu-entradas-prod-admin:hover{
  font-style:oblique;
}

.go-menu-salidas-prod-admin {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  /* font-style:inherit; */
  font-size: 200%;
  border-style:solid;
  border-radius: 3%;
  padding: 2% 0% 2% 0%;
  border-color:gray;
  margin: 10% 40% 0% 40%;
  color: black;
}

.go-menu-salidas-prod-admin:hover{
  font-style:oblique;
}

.go-main-menu-fab-admin {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  /* font-style:inherit; */
  font-size: 100%;
  border-style:solid;
  border-radius: 4%;
  padding: 1% 0% 1% 0%;
  border-color:gray;
  margin: 8% 45% 10% 45%;
  color: black;
}

.go-main-menu-fab-admin:hover{
  font-style:oblique;
}