.App {
  text-align: center;
  /* background-color: whitesmoke; */
}

body {
  background: linear-gradient(228deg, #781b13fe,#550b3f,#172739,#1f9ac7);
	background-size: 400% 400%;
	animation: gradient 100s ease infinite;
	height: 100vh;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 500%;
  color: whitesmoke;
  margin: 3%;
}
