.adminSignIn {
  padding: 1% 3% 1% 3%;
  /* border-color:gray; */
  /* margin: 1% 53% 1% 53%; */
}

.login-form-container {
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-header {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 200%;
  font-style: italic;
  color: hsl(0, 88%, 10%);
}

.login-form {
  background: #fff;
  padding: 40px 0;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.9);
  border-radius: 15px;
}

.login-form:hover {
  opacity: 0.92;
  transform: scale(1.2);
  transition: 0.6s ease-in-out;
}

.group {
  position: relative;
  margin: 45px;
}

.login-input {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #B06AB3
}

.login-input:focus {
  outline: none;
  color: #2d2c2c;
}

.login-label {
  color: #6a0a1b;
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.4s ease all;
  pointer-events: none;
}

.login-input:focus~.login-label {
  top: -14px;
  font-size: 12px;
  font-style: italic;
  color: #2196f3;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #B06AB3, #4568DC);
  transition: 0.7s ease width;
  left: 0;
}

.login-input:focus~.bar::before {
  width: 109%;
}

.login-button {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: -webkit-linear-gradient(to right, #330735, #0e1e54);
  background: linear-gradient(to right, #430a45, #061546);
  border: none;
  border-radius: 3%;
  display: block;
  width: 60%;
  margin: 10px auto;
  color: #fff;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  padding: 4% 0% 0% 0%;
}

.warnings {
  width: 200px;
  text-align: center;
  margin: auto;
  color: hsl(0, 60%, 25%);
  padding-top: 20px;
}