.fabVsProd {  
  text-align: center;
}

.go-distribucion-main-menu{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold; 
  font-style: oblique;
  font-size: 200%;
  border-radius: 2%;
  padding: 2% 0% 2% 0%;
  border: 6px solid #dad891;
  margin: 15% 40% 10% 40%;
  color: black;
  background: #ffffff;
  opacity: 0.75;
}

.go-distribucion-main-menu:hover{
  opacity: 0.89;
  transform: scale(1.3);
  transition: 0.8s ease-in-out;
}





/* Responsive Degin Layouts*/


/* iPad Layouts (max-width: 1000px) */

@media screen and (max-width: 900px) {
  .go-distribucion-main-menu{
    font-size: 150%;
    border-radius: 2%;
    padding: 2% 0% 2% 0%;
    border: 6px solid #dad891;
    margin: 15% 40% 10% 40%;
    color: black;
    background: #ffffff;
    opacity: 0.75;
  }

  .go-distribucion-main-menu:hover{
    transform: scale(1.1);
  }
}