/* Top Filter Styling */
/* .top-filter-search-prods {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-style:solid;
  border-style:solid;
  border-radius: 2%;
  border: 5px solid #dad891;
  margin: 3% 25% 2% 25%;
  padding: 2%;
  color: black;
  background: #ffffff;
  opacity: 0.83;
}

.top-filter-search-prods:hover {
  opacity: 0.93;
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
} */

/* Button and Filters Styling Section */
/* .select-month-search {
  margin: 0% 2% 0% 2%;
  padding: 1%;
  font-weight: bolder;
  font-style:unset;
  font-size: 120%;
  border-radius: 4%;
  border: 2px solid black;
}

.select-year-search {
  margin: 0% 2% 0% 2%;
  padding: 1%;
  font-weight: bolder;
  font-style:unset;
  font-size: 120%;
  border-radius: 4%;
  border: 2px solid black;
}

.read-prod-records-btn {
  margin: 0% 2% 0% 2%;
  padding: 1%;
  font-weight: bolder;
  font-style:unset;
  font-size: 120%;
  border-radius: 4%;
  border: 2px solid black;
} */

/* Go Back to Menu Btn */
.go-back-menu-entradas-prod-admin-busqueda{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold; 
  font-style: oblique;
  font-size: 145%;
  border-radius: 2%;
  padding: 1.5% 1% 1.5% 1%;
  border: 6px solid #dad891;
  margin: 10% 40% 0% 40%;
  color: black;
  background: #ffffff;
  opacity: 0.85;
}

.go-back-menu-entradas-prod-admin-busqueda:hover{
  opacity: 0.93;
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}

.go-back-menu-entradas-prod-admin-busqueda{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold; 
  font-style: oblique;
  font-size: 135%;
  border-radius: 2%;
  padding: 1% 1% 1% 1%;
  border: 6px solid #dad891;
  margin: 1% 40% 1% 40%;
  color: black;
  background: #ffffff;
  opacity: 0.85;
}

.go-back-menu-entradas-prod-admin-busqueda:hover{
  opacity: 0.93;
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}